.card {
    border: 1px solid #fede96;
    border-radius: 10px;
    display: block;
    padding: 10px;
    min-height: 100px;
    margin: 20px 0px;
}


.card-title {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
}