.card {
    border: 1px solid #fede96;
    border-radius: 10px;
    display: block;
    padding: 10px;
    min-height: 100px;
    margin: 20px 0px;
}


.card-title {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
}

.post-title {
    text-decoration: none;
    color: inherit;
}

.post {
    border-bottom: 2px solid #fede96;
    border-right: 4px solid #fede96;
    margin: 1.45rem;
    padding: 5px 10px;
}


.post-header {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid lightgrey;
}

.post-title {
    color: #2c3a49;
    margin-bottom: 0.45rem;
    border: 0;
}

.post-date {
    float: right;
}

.pippo {
    color: blue;
}